microservice-chart:
  image:
    repository: ghcr.io/pagopa/emd-citizen
    tag: v1.0.5
    pullPolicy: Always

  ingress:
    host: "mdc.itn.internal.uat.cstar.pagopa.it"

  resources:
    requests:
      memory: "768Mi"
      cpu: "150m"
    limits:
      memory: "1536Mi"
      cpu: "600m"

  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 2
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization
          value: "60"

  envConfig:
    MONGODB_DBNAME: mil
    APPLICATIONINSIGHTS_ROLE_NAME: "emdcitizen"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "OFF"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    APPLICATIONINSIGHTS_PREVIEW_PROFILER_ENABLED: "false"
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=75.0
      -XX:MaxRAMPercentage=85.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -Djava.util.concurrent.ForkJoinPool.common.parallelism=7
      -Dio.netty.eventLoopThreads=100
      -javaagent:/app/applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json


  envSecret:
    MY_KV_SECRET: cstar-u-itn-uat-aks-apiserver-url

  keyvault:
    name: "cstar-u-itn-mdc-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
