microservice-chart:
  namespace: "mil"
  nameOverride: ""
  fullnameOverride: ""
#
# Deploy
#
  deployment:
    create: true
    forceRedeploy: true

  image:
    repository: ghcr.io/pagopa/emd-tpp
    tag: v1.3.2@sha256:df28bd61343b5bd5131e1e7acb673c0599b68f6728ecfe04c1f293bc613548b2
    pullPolicy: Always

  envSecret:
    MONGODB_URI: mongodb-connection-string
    MY_KV_SECRET: cstar-u-weu-uat01-aks-apiserver-url
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key

  envConfig:
    LOGGING_LEVEL_IT_GOV_PAGOPA_TPP: "DEBUG"
    
    MONGODB_DBNAME: mil
    APPLICATIONINSIGHTS_ROLE_NAME: "emdtpp"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "OFF"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    APPLICATIONINSIGHTS_PREVIEW_PROFILER_ENABLED: "false"
    AZURE_KEYVAULT_URL: "https://cstar-u-weu-mil-kv.vault.azure.net"
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=75.0
      -XX:MaxRAMPercentage=85.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -Djava.util.concurrent.ForkJoinPool.common.parallelism=7
      -Dio.netty.eventLoopThreads=100
      -javaagent:/app/applicationinsights-agent.jar
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json

  externalConfigMapValues:
    mil-common-poc:
      TZ: TZ

  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 120
    failureThreshold: 15
    periodSeconds: 10

  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 35
    failureThreshold: 15
    periodSeconds: 10

#
# Network
#
  service:
    create: true
    type: ClusterIP
    ports:
      - 8080

  ingress:
    create: true
    host: "mil.weu.internal.uat.cstar.pagopa.it"
    path: /emdtpp(/|$)(.*)
    rewriteTarget: /$2
    servicePort: 8080
    # proxyBodySize: 2m
    annotations: {
      nginx.ingress.kubernetes.io/satisfy: "any"
    }


  serviceAccount:
    name: mil-poc-workload-identity


  podAnnotations: {}

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 10000
    runAsGroup: 10000

  resources:
    requests:
      memory: "768Mi"
      cpu: "150m"
    limits:
      memory: "1536Mi"
      cpu: "600m"

  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 2
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization
          value: "60"

  keyvault:
    name: "cstar-u-weu-mil-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"

  tmpVolumeMount:
    create: true
    mounts:
      - name: tmp
        mountPath: /tmp
      - name: logs
        mountPath: /app/logs

  # nodeSelector: {}

  # tolerations: []

  # affinity: {}

  externalConfigMapFiles:
    create: true
    configMaps:
      - name: appinsights-config
        key: applicationinsights.json

  azure:
    workloadIdentityClientId: e8bd0a7c-aecd-4f90-8c78-393dfa4feb12
